<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blog.dao.TypeMapper">
<select id="listTypeTop" resultMap="typesAndBlogsMap">
SELECT tt.*,tb.id blogId,tb.published,tb.published FROM t_type tt LEFT JOIN t_blog tb ON tb.type_id=tt.id
</select>
    <resultMap id="typesAndBlogsMap" type="com.blog.po.Type">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <!--<collection property="bloglist" javaType="list" ofType="com.blog.po.Blog">-->
            <!--<id property="id" column="tb_id"/>-->
        <!--</collection>-->
        <collection property="bloglist" javaType="list" ofType="com.blog.po.Blog">
            <result property="id" column="blogId"/>
            <result property="published" column="published"/>
        </collection>
    </resultMap>

</mapper>